-r requirements.txt
black==26.5.1
boolean.py==5.0
CacheControl==0.14.4
click==8.4.1
colorama==0.4.6
coverage==7.14.0
cyclonedx-python-lib==11.7.0
defusedxml==0.7.1
deptry==0.25.1
execnet==2.1.2
filelock==3.29.0
hypothesis==6.152.9
importlib_metadata==8.7.1
iniconfig==2.3.0
license-expression==30.4.4
mando==0.7.1
markdown-it-py==4.2.0
mdurl==0.1.2
msgpack==1.1.2
mypy_extensions==1.1.0
nodeenv==1.10.0
packageurl-python==0.17.6
packaging==26.2
pandas-stubs==2.3.0.250703
pathspec==1.1.1
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.10.0
platformdirs==4.9.6
pluggy==1.6.0
py-serializable==2.1.0
pydeps==3.0.6
Pygments==2.20.0
pyparsing==3.3.2
pyright==1.1.409
pytest==9.0.3
pytest-cov==7.1.0
pytest-mock==3.15.1
pytest-rerunfailures==16.1
pytest-xdist==3.8.0
pytokens==0.4.1
radon==6.0.1
requirements-parser==0.13.0
rich==15.0.0
ruff==0.15.14
sortedcontainers==2.4.0
stdlib-list==0.12.0
tomli==2.4.1
tomli_w==1.2.0
vulture==2.16
zipp==4.1.0
